<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="heading-031">About</h1>
        <h4 class="text-center, m-5">
          架空のお弁当屋さん「Mogu」の予約注文サイトです。<br>
          当日から一週間までの、お受取り日とお受取りの時間を指定して頂くだけで、<br>
          簡単にご予約ができるようになっております。<br>
          また、ご要望も受け付けておりますのでお気軽にお問い合わせ頂けます。<br>
          お弁当だけでなく、お惣菜やサラダ、スープ、オードブルなど<br>
          色んなジャンルからお選び頂けます。<br>
          ぜひご注文ください。<br>
        </h4>
        <div class="mx-auto d-flex justify-content-center mb-5 mt-5">
          <div><%= image_tag 'about.jpg', size: "700x500", class: "img-fluid mx-auto" %></div>
        </div>
    </div>  
  </div>  
</div>    
        
<div class="container">
  <div class="row, m-5">
    <div class="col-lg-12 text-center">
      <h1 class="heading-031">ネット注文のメリット</h1>
    </div>  
  </div>  
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h5 class="heading-024" data-number="01">ゆっくり選べる</h5>
      <p>ネット注文なら自分のペースで、あせらずじっくりメニューを<br>
      お選び頂けます！</p>
      <div class="mx-auto d-flex justify-content-center mb-5 mt-5">
        <div><%= image_tag 'about2.jpg', size: "300x300", class: "img-fluid mx-auto" %></div>
      </div>
    </div>
    <div class="col-lg-6">
      <h5 class="heading-024" data-number="02">待たずに受け取れる</h5>
      <p>予約注文をしてから待ち時間を短縮できます。<br>
        いつでもどこからでも予約注文ができて、店頭でお支払いして<br>
        受け取るだけ！
        <div class="mx-auto d-flex justify-content-center mb-5 mt-5">
          <div><%= image_tag 'about3.jpg', size: "200x200", class: "img-fluid mx-auto" %></div>
        </div>
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h5 class="heading-031">店舗情報</h5>
      <p>営業時間</p>
      <p>10時〜21時（お受取り時間は20時50分まで)</p>
      <p>年中無休</p>
      <p>TEL:00011112222</p>
      <p>当日のキャンセルは承っておりませんのでご注意ください。</p>
      <ul class="nav justify-content-left">
        <!--Instagram-->
        <li href="#" class="insta_btn3">
          <i class="fab fa-instagram"></i>
        </li>
        <!--Twitter-->
        <li class="btn-social-square btn-social-square--twitter">
          <i class="fab fa-twitter"></i>
        </li>
        <!--Facebook-->
        <li class="btn-social-square btn-social-square--facebook">
          <i class="fab fa-facebook-f"></i>
        </li>
      </ul>
    </div>
    <div class="col-lg-6">
      <h5 class="heading-031">アクセス</h5>
      <p class="text-left">
        <i class="fas fa-map-marker-alt"></i>東京都目黒区東山A-1-2 01-2345-6789
        <!--Googleマップ-->
        <div class="text-left,m-5">
          <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d3242.149491421279!2d139.68364036566854!3d35.64868833936274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e2!4m3!3m2!1d35.6493324!2d139.6817859!4m5!1s0x6018f4ad501810c5%3A0xa6891c9764a2651b!2z44CSMTUzLTAwNDMg5p2x5Lqs6YO955uu6buS5Yy65p2x5bGx!3m2!1d35.6473604!2d139.6898612!5e0!3m2!1sja!2sjp!4v1674201950594!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </p>
    </div>
  </div>
</div>
<!--トップページに戻るボタン-->
<a class="pagetop" href="#"><div class="pagetop__arrow"></div></a>


