<div class="container">
  <div class="row">
      <div class="col-lg-12 center-block">
        <h1 class="text-center mt-5 mb-3">About</h1>
        <h4 class="text-center">
          健康を考慮した架空のお弁当屋さん「Mogu」<br>
          お受取り日とお受取りの時間を指定して頂くだけで、簡単にご予約ができます。<br>
          また、安全・安心な食材と健康を意識し、地元の有機野菜だけを使っております。<br>
          一つ一つ丁寧に作っております。ぜひご注文ください。<br>
        </h4>
        <div class="mx-auto d-flex justify-content-center mb-5 mt-5">
          <div><%= image_tag 'about.jpg', size: "500x500", class: "img-fluid mx-auto" %></div>
        </div>
      </div>
    </div>
  </div>
</div>