<div class="container">
  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-8">
      <div class="card mx-auto w-75 mt-3">
        <%= image_tag 'top.jpg', class: "img-fluid"%>
        <div class="card-img-overlay d-flex align-items-center justify-content-center">
        </div>
      </div>