<% if @pre_order.errors.any? %>
  <div class = "alert">
    <ul>
      <% @pre_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>