@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// Googlefont
p, span, h1, h2, h3, h4, h5 {
    font-family: 'Zen Maru Gothic', sans-serif;
}

// Googleマップサイズ指定
iframe {
    width: 400px; 
    height: 300px;
}

