<footer class="fixed-bottom" style="background-color:#FFF">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <%= image_tag 'logo.jpg', size: "100x100"%>
      </div>
        <div class="col-lg-4">
          <h5>Mogu</h5>
          <p>店舗情報</p>
          <p><i class="fas fa-map-marker-alt"></i>東京都目黒区東山A-1-2 01-2345-6789</p>
        </div>
        <div class="col-lg-4">
          <p>営業時間・年中無休</p>
          <p>10時〜21時（お受取り時間は20時50分まで)</p>
          <p>TEL:00011112222</p>
          </p>
        </div>
        <div class="col-lg-2">
          <ul class="nav justify-content-center">
            <li class="nav-item">
            <%= link_to "", class: 'nav-link text-dark' do %><i class="fab fa-twitter"></i>twitter<% end %>
            <%= link_to "", class: 'nav-link text-dark' do %><i class="fab fa-instagram"></i>Instagram<% end %>
            <%= link_to "", class: 'nav-link text-dark' do %><i class="fab fa-facebook"></i>Facebook<% end %>
        </div>
    </div>
  </div>
</footer>
